* { box-sizing: border-box; }

.button-group{
  padding-top: 75px;
  float: none;
  margin: 0 auto;
  text-align: center;
  .button {
    outline: none;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;;
    font-size: 12px;
    font-weight: 400;
    color: #3f3f3f;
    line-height: 17px;
    cursor: pointer;
    &:hover{
      background-color: #EEE;
      color: #222;
    }
  }
  @media screen and (max-width: 1556px) {
    .button-group {
      margin-left: 200px;
    }
  }
  @media screen and (max-width: 600px) {
    .button {
      padding: 10px 15px 10px 15px;
    }
  }
  @media screen and (max-width: 360px) {
    .button {
      padding: 10px 12px 10px 12px;
    }
    .grid {
      margin: 0;
    }
  }
  @media screen and (max-width: 320px) {
    .button {
      padding: 10px 8px 10px 8px;
    }
  }
}

.button:active,
.button.is-checked {
  background-color: #EEE;
}

.button.is-checked {
  color: #3f3f3f;
}

/* ---- isotope ---- */

.grid {
  margin: 0 auto;
  text-align: center;
  height: 900px;
  width: 70%;
  .element-item {
    margin: 10px;
    .wrapper {
      width: auto;
      height: auto;
      overflow: hidden;
      transition: transform .5s ease;

      &:hover {
        transform: scale(1.05);
      }
      .name {
        font-size: 14px;
      }
    }
  }

}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.button-group:after {
  content: '';
  display: block;
  clear: both;
}
@media screen and (max-width: 1024px) {
  .grid {
    margin-left: 200px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    margin-left: 235px;
  }
}
@media screen and (max-width: 736px) {
  .grid {
    margin-left: 210px;
  }
}
@media screen and (max-width: 667px) {
  .grid {
    margin-left: 170px;
  }
}
@media screen and (max-width: 600px) {
  .grid {
    margin-left: 145px;
  }
}
@media screen and (max-width: 568px) {
  .grid {
    margin-left: 110px;
  }
}
@media screen and (max-width: 420px) {
  .grid {
    margin-left: 50px;
  }
}
@media screen and (max-width: 375px) {
  .grid {
    margin-left: 45px;
  }
}
@media screen and (max-width: 320px) {
  .grid {
    margin-left: 40px;
  }
}
@media screen and (max-width: 385px) {
  .wrapper {
    width: 100%;
    height: 100%;
  }
  .image {
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
  }
  .filter_size_first {
    height: auto;
    width: 100%;
  }
  .filter_size_creatix_mix {
    height: auto;
    width: 100%;
  }

  .filter_size_revslider_gallery {
    height: auto;
    width: 100%;
  }
  .filter_size_before_after {
    height: auto;
    width: 100%;
  }
  .filter_size_gallery_stacked {
    height: auto;
    width: 100%;
  }
  .filter_size_gallery_slideshow {
    height: auto;
    width: 100%;
  }
  .filter_size_soundcloud_embed {
    height: auto;
    width: 100%;
  }
  .filter_size_vimeo_embed {
    height: auto;
    width: 100%;
  }

}

/*
.triangle-wrap {
  border-bottom-width: 9px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255, 1);
  border-right-width: 9px;
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 9px;
  border-left-style: solid;
  border-left-color: transparent;
  left: 50%;
  bottom: 0;
  border-top: none;
  position: absolute;
  z-index: 101;
  width: 0;
  height: 0;

}
*/
