#footer-container {
  width: 100%;
  height: auto;
  .footer {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
  }
}
.icons {
 padding: 21px;
}
.social-link {
  cursor: pointer;
}