.nav-menu {
  background: #021542;
  text-align: center;
}
.ul-trigger {
  margin: 0;
  padding: 0;
}
.nav-menu_li {
  display: inline-block;
}
.nav-menu_link {
  display: block;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 30px;
  transition: 0.3s;
}
.nav-menu_link:hover {
  color: #fff;
  background: #FF534B;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.menu-trigger {
  color: #FF534B;
  font-weight: bold;
  display: none;
}
@media screen and (max-width: 850px) {
  .ul-trigger {
    display: none;
    .nav-menu_li {
      display: block;
    }
  }
  .menu-trigger {
    display: block;
  }

}
