@import "layout/header";

@import "layout/main";

@import "components/cdtop";

@import "layout/bgimg";

@import "layout/filter";

@import "layout/service";
@import "layout/service-info";
@import "layout/service-numbers";

@import "layout/bgportfolio";
@import "layout/myBlog";
@import "layout/myblog-filter";

@import "layout/google-map";

@import "layout/form";

@import "layout/work-together";

@import "layout/footer";

@import "layout/load";


body {
  padding: 0;
  margin: 0;
  font-size: 100%;

}
